{% extends "_layout" %}

{% block content %}
    <main id="content" data-midnight="grey">
        <div class="row">
            <div class="columns six">
                <br />
            </div>
            <div class="columns six midCent success">
                <h2>{{ entry.successMessage }}</h2>
            </div>
        </div>
    </main>
{% endblock %}
