{% extends "_layout" %}

{% block content %}

	<div class="row">
		<ul class="royalSlider rsDefault headSlide columns nine">
			{% for block in entry.fullpageImageSlider.all() %}
				{% set images = block.imageSlide %}
				{% if images and images|length %}
					<li>
						{% for image in images.all() %}
							<img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
						{% endfor %}
	                    <div class="overlay">
	                        <div class="row">
	                            <div class="columns six propTitle">
	                                <h2>Services</h2>
	                                <h3>{{ entry.title }}</h3>
	                            </div>
								<div class="columns six">
	                                <p class="hidden">.</p>
	                            </div>
	                        </div>
	                    </div>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>

	<main id="content" class="portfolioPage" data-midnight="grey">
		<div class="row">
			<div class="columns six">
				{% set entries = craft.entries.section('services') %}
                <h3>Services</h3>
				<ul class="propertyNav">
				    {% nav item in entries.all() %}
				        <li class="{{ item.slug == entry.slug ? 'active' }}">
				            <a href="{{ item.url }}">{{ item.title }}</a>
				        </li>
				    {% endnav %}
				</ul>
			</div>
			<div class="columns six midCent">
				{% if craft.app.request.segments|last == "full-carpentry" %}
				{% set fullCarpentry = craft.entries.section('fullCarpentry').level(1) %}

					{% if fullCarpentry | length %}
						<ul class="portNav">
						{% for entry in fullCarpentry.all() %}
                            <li class="link{{ (craft.app.request.pathInfo == entry.uri) ? ' active' }}">
                                <a href="#{{ entry.slug }}" rel="m_PageScroll2id" data-ps2id-offset="25">{{ entry.title }}</a>
                            </li>
                        {% endfor %}
						</ul>
					{% endif %}
                {% elseif craft.app.request.segments|last == "labour-only-carpentry" %}
                {% set labourOnlyCarpentry = craft.entries.section('labourOnlyCarpentry').level(1) %}

                    {% if labourOnlyCarpentry | length %}
                        <ul class="portNav">
                        {% for entry in labourOnlyCarpentry.all() %}
                            <li class="link{{ (craft.request.path == entry.uri) ? ' active' }}">
                                <a href="#{{ entry.slug }}" rel="m_PageScroll2id" data-ps2id-offset="25">{{ entry.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% elseif craft.request.lastSegment == "suspended-ceilings" %}
                {% set suspendedCeilings = craft.entries.section('suspendedCeilings').level(1) %}

                    {% if suspendedCeilings | length %}
                        <ul class="portNav">
                        {% for entry in suspendedCeilings.all() %}
                            <li class="link{{ (craft.request.path == entry.uri) ? ' active' }}">
                                <a href="#{{ entry.slug }}" rel="m_PageScroll2id" data-ps2id-offset="25">{{ entry.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% elseif craft.request.lastSegment == "partitioning" %}
                {% set partitioning = craft.entries.section('partitioning').level(1) %}

                    {% if partitioning | length %}
                        <ul class="portNav">
                        {% for entry in partitioning.all() %}
                            <li class="link{{ (craft.request.path == entry.uri) ? ' active' }}">
                                <a href="#{{ entry.slug }}" rel="m_PageScroll2id" data-ps2id-offset="25">{{ entry.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
				{% elseif craft.request.lastSegment == "insulation" %}
                {% set insulation = craft.entries.section('insulation').level(1) %}
					{% if insulation | length %}
                        <ul class="portNav">
                        {% for entry in insulation.all() %}
                            <li class="link{{ (craft.request.path == entry.uri) ? ' active' }}">
                                <a href="#{{ entry.slug }}" rel="m_PageScroll2id" data-ps2id-offset="25">{{ entry.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% elseif craft.request.lastSegment == "acoustics" %}
                {% set acoustics = craft.entries.section('acoustics').level(1) %}

                    {% if acoustics | length %}
                        <ul class="portNav">
                        {% for entry in acoustics.all() %}
                            <li class="link{{ (craft.request.path == entry.uri) ? ' active' }}">
                                <a href="#{{ entry.slug }}" rel="m_PageScroll2id" data-ps2id-offset="25">{{ entry.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
				{% endif %}
			</div>
		</div>

		{% if craft.app.request.segments|last == "insulation" %}
		<div class="row">
			<div class="columns six">
				&nbsp;
			</div>
			<div class="columns six midCent">
			{% set insulation = craft.entries.section('insulation').type('insulationPortfolio').level(1) %}

				{% if insulation | length %}
					<ul class="portNav">
					{% for entry in insulation %}
						<li class="link{{ (craft.request.path == entry.uri) ? ' active' }}">
							{{ entry.title }}
						</li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
		{% endif %}

		{% if craft.app.request.segments|last == "full-carpentry" %}
		{% set fullCarpentry = craft.entries.section('fullCarpentry') %}

			{% if fullCarpentry | length %}
				{% for entry in fullCarpentry.all() %}
				<div class="row">
					<div class="columns three">
						&nbsp;
					</div>
					<div id="{{ entry.slug }}" class="columns nine">
						<ul class="portSlider rsDefault">

						{% for block in entry.imageSlider.all() %}
							{% set images = block.imageSlide %}
							{% if images and images|length %}
								<li>
									{% for image in images.all() %}
										<img src="{{ image.getUrl('service') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
									{% endfor %}
								</li>
							{% endif %}
						{% endfor %}
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="columns three">
						&nbsp;
					</div>
					<div class="columns three">
						<h4>{{ entry.title }}</h4>
					</div>
					<div class="columns six midCentOne">
						{{ entry.description }}
					</div>
				</div>
				{% endfor %}
			{% endif %}

        {% elseif craft.app.request.segments|last == "labour-only-carpentry" %}
        {% set labourOnlyCarpentry = craft.entries.section('labourOnlyCarpentry') %}

            {% if labourOnlyCarpentry | length %}
                {% for entry in labourOnlyCarpentry %}
                <div class="row">
					<div class="columns three">
						&nbsp;
					</div>
                    <div id="{{ entry.slug }}" class="columns nine">
						{% if entry.imageSlider|length %}
                        <ul class="portSlider rsDefault">

                        {% for block in entry.imageSlider %}
							{% set images = block.imageSlide %}
                                <li>
                                    {% for image in images %}
                                        <img src="{{ image.getUrl('service') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                                    {% endfor %}
                                </li>
                        {% endfor %}
                        </ul>
						{% else %}
							<hr>
						{% endif %}
                    </div>
                </div>
                <div class="row">
					<div class="columns three">
						&nbsp;
					</div>
                    <div class="columns three">
                        <h4>{{ entry.title }}</h4>
                    </div>
                    <div class="columns six midCentOne">
                        {{ entry.description }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            {% elseif craft.app.request.segments|last == "suspended-ceilings" %}
            {% set suspendedCeilings = craft.entries.section('suspendedCeilings') %}

                {% if suspendedCeilings | length %}
                    {% for entry in suspendedCeilings %}
                    <div class="row">
						<div class="columns three">
							&nbsp;
						</div>
                        <div id="{{ entry.slug }}" class="columns nine">
                            <ul class="portSlider rsDefault">

                            {% for block in entry.imageSlider %}
                                {% set images = block.imageSlide %}
                                {% if images and images|length %}
                                    <li>
                                        {% for image in images %}
                                            <img src="{{ image.getUrl('service') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                                        {% endfor %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
						<div class="columns three">
							&nbsp;
						</div>
                        <div class="columns three">
                            <h4>{{ entry.title }}</h4>
                        </div>
                        <div class="columns six midCentOne">
                            {{ entry.description }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% elseif craft.app.request.segments|last == "partitioning" %}
        {% set partitioning = craft.entries.section('partitioning') %}

            {% if partitioning | length %}
                {% for entry in partitioning.all() %}
                <div class="row">
					<div class="columns three">
						&nbsp;
					</div>
                    <div id="{{ entry.slug }}" class="columns nine">
                        <ul class="portSlider rsDefault">

                        {% for block in entry.imageSlider.all() %}
                            {% set images = block.imageSlide %}
                            {% if images and images|length %}
                                <li>
                                    {% for image in images %}
                                        <img src="{{ image.getUrl('service') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                                    {% endfor %}
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
					<div class="columns three">
						&nbsp;
					</div>
                    <div class="columns three">
                        <h4>{{ entry.title }}</h4>
                    </div>
                    <div class="columns six midCentOne">
                        {{ entry.description }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            {% elseif craft.app.request.segments|last == "insulation" %}
			{% set insulation = craft.entries.section('insulation') %}

	            {% if insulation | length %}
	                {% for entry in insulation.all() %}
	                <div class="row">
						<div class="columns three">
							&nbsp;
						</div>
	                    <div id="{{ entry.slug }}" class="columns nine">
	                        <ul class="portSlider rsDefault">

	                        {% for block in entry.imageSlider.all() %}
	                            {% set images = block.imageSlide %}
	                            {% if images and images|length %}
	                                <li>
	                                    {% for image in images %}
	                                        <img src="{{ image.getUrl('service') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
	                                    {% endfor %}
	                                </li>
	                            {% endif %}
	                        {% endfor %}
	                        </ul>
	                    </div>
	                </div>
	                <div class="row">
						<div class="columns three">
							&nbsp;
						</div>
	                    <div class="columns three">
	                        <h4>{{ entry.title }}</h4>
	                    </div>
	                    <div class="columns six midCentOne">
	                        {{ entry.description }}
	                    </div>
	                </div>
	                {% endfor %}
	            {% endif %}
            {% elseif craft.app.request.segments|last == "acoustics" %}
            {% set acoustics = craft.entries.section('acoustics') %}

                {% if acoustics | length %}
                    {% for entry in acoustics %}
                    <div class="row">
						<div class="columns three">
							&nbsp;
						</div>
                        <div id="{{ entry.slug }}" class="columns nine">
                            <ul class="portSlider rsDefault">

                            {% for block in entry.imageSlider %}
                                {% set images = block.imageSlide %}
                                {% if images and images|length %}
                                    <li>
                                        {% for image in images %}
                                            <img src="{{ image.getUrl('service') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                                        {% endfor %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
						<div class="columns three">
							&nbsp;
						</div>
                        <div class="columns three">
                            <h4>{{ entry.title }}</h4>
                        </div>
                        <div class="columns six">
                            {{ entry.description }}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
		{% endif %}

        {#{% if craft.app.request.segments|last == "labour-only-carpentry" %}
        {% set labourOnlyCarpentry = craft.entries.section('labourOnlyCarpentry') %}

            {% if labourOnlyCarpentry | length %}
                {% for entry in labourOnlyCarpentry %}
                <div class="row">
					<div class="columns three">
						&nbsp;
					</div>
                    <div id="{{ entry.slug }}" class="columns nine">
                        <ul class="portSlider rsDefault">

                        {% for block in entry.imageSlider %}
                            {% set images = block.imageSlide %}
                            {% if images and images|length %}
                                <li>
                                    {% for image in images %}
                                        <img src="{{ image.getUrl('service') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                                    {% endfor %}
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="columns six">
                        <h4>{{ entry.title }}</h4>
                    </div>
                    <div class="columns six">
                        {{ entry.description }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% elseif craft.app.request.segments|last == "suspended-ceilings" %}
		{% set suspendedCeilings = craft.entries.section('suspendedCeilings') %}
    		<ul class="properties">
    			{% if suspendedCeilings | length %}
    				{% for entry in suspendedCeilings %}
    				<li id="{{ entry.slug }}" class="propertyGrid">
    					<ul class="portSlider rsDefault">

    					{% for block in entry.imageSlider %}
    						{% set images = block.imageSlide %}
    						{% if images and images|length %}
    							<li>
    								{% for image in images %}
    									<img src="{{ image.getUrl('service') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
    								{% endfor %}
    							</li>
    						{% endif %}
    					{% endfor %}
    					</ul>
    					<h4>{{ entry.title }}</h4>

    					{{ entry.description }}
    				</li>
    				{% endfor %}
    			{% endif %}
    		</ul>
        {% elseif craft.app.request.segments|last == "partitioning" %}
        {% set partitioning = craft.entries.section('partitioning') %}

            {% if partitioning | length %}
                {% for entry in partitioning %}
                <div class="row">
					<div class="columns three">
						&nbsp;
					</div>
                    <div id="{{ entry.slug }}" class="columns nine">
                        <ul class="portSlider rsDefault">

                        {% for block in entry.imageSlider %}
                            {% set images = block.imageSlide %}
                            {% if images and images|length %}
                                <li>
                                    {% for image in images %}
                                        <img src="{{ image.getUrl('service') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                                    {% endfor %}
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
					<div class="columns three">
						&nbsp;
					</div>
                    <div class="columns three">
                        <h4>{{ entry.title }}</h4>
                    </div>
                    <div class="columns six">
                        {{ entry.description }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% elseif craft.app.request.segments|last == "acoustics" %}
		{% set acoustics = craft.entries.section('acoustics').offset(1) %}
		<ul class="properties">
			{% if acoustics | length %}
				{% for entry in acoustics %}
				<li id="{{ entry.slug }}" class="propertyGrid">
					<ul class="portSlider rsDefault">

					{% for block in entry.imageSlider %}
						{% set images = block.imageSlide %}
						{% if images and images|length %}
							<li>
								{% for image in images %}
									<img src="{{ image.getUrl('service') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
								{% endfor %}
							</li>
						{% endif %}
					{% endfor %}
					</ul>
					<h4>{{ entry.title }}</h4>

					{{ entry.description }}
				</li>
				{% endfor %}
			{% endif %}
		</ul>
		{% endif %}#}

	</main>

{% endblock %}
