{% extends "_layout" %}

{% block content %}

    <main id="content" data-midnight="grey">
        <section class="tenants">
            <div class="row">
                <div class="columns six">
                    <h3>Partners</h3>
                </div>
            </div>
            {% for block in entry.partners.all() %}
            <div class="row">
                <div class="columns two partnerRule">
                    &nbsp;
                </div>
                <div class="columns three logoWrap partnerRule">
                    <div class="logoBox">
                        {% set logos = block.partnerLogo %}
                        {% if logos and logos|length %}
                            {% for logos in logos.all() %}
        						<img src="{{ logos.getUrl() }}" width="100%" title="{{ block.partnerTitle }}" alt="{{ block.partnerTitle }}">
        					{% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="columns two partnerRule">
                    &nbsp;
                </div>
                <div class="columns four tenPara midCent partnerRule">
                    <ul class="tenantList">
                        <li class="tenantName">{{ block.partnerTitle }}</li>
                    </ul>
                </div>
                <div class="columns one">
                </div>
            </div>
            {% endfor %}
        </section>
    </main>

{% endblock %}
