{% extends "_layout" %}

{% block content %}

    {#<section class="contactForm" data-midnight="grey">
        <div id="map" class="map">
            <script>
                    var mymap = L.map('map',{
                        dragging: false,
                        tap: false,
                        zoomControl: false,
                    }).setView([-36.845, 174.759], 16);

                    L.tileLayer('https://api.mapbox.com/styles/v1/asferens/cj56375fn2rts2sqlckbyrjq8/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYXNmZXJlbnMiLCJhIjoiUFVpUWtBSSJ9.BkWDrqIrFstKBHAKv9TsvQ', {
                        maxZoom: 18,
                        id: 'mapbox.streets',
                        accessToken: 'pk.eyJ1IjoiYXNmZXJlbnMiLCJhIjoiUFVpUWtBSSJ9.BkWDrqIrFstKBHAKv9TsvQ'
                    }).addTo(mymap);

                    // create custom icon
                    var contactIcon = L.icon({
                        iconUrl: '/assets/img/pin.svg',
                        iconSize: [30, 30], // size of the icon
                        });

                    // create marker object, pass custom icon as option, add to map
                    var marker = L.marker([-36.845, 174.759], {icon: contactIcon}).addTo(mymap);

                </script>
            </div>
    </section>#}

    <main id="content" data-midnight="grey">
        <section class="contact">
            <div class="row">
                <div class="columns six">
                    {% macro errorList(errors) %}
                        {% if errors %}
                            <ul class="errors">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endmacro %}

                    {% from _self import errorList %}

                    <form method="post" action="" accept-charset="UTF-8">
                        {{ csrfInput() }}
                        <input type="hidden" name="action" value="contact-form/send">
                        {{ redirectInput('contact/thanks') }}

                        <h3><label for="from-name" class="firstLabel">Full Name*</label></h3>
                        <input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="Full Name">
                        {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

                        <h3><label for="from-email">Email Address*</label></h3>
                        <input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" placeholder="Email Address">
                        {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

                        {#<h3><label for="subject">Subject</label></h3>
                        <input id="subject" type="text" name="subject" value="{{ message.subject ?? '' }}">
                        {{ message is defined and message ? errorList(message.getErrors('subject')) }}#}

                        <h3><label for="message">Message</label></h3>
                        <textarea rows="10" cols="40" id="message" name="message">{{ message.message ?? '' }}</textarea>
                        {{ message is defined and message ? errorList(message.getErrors('message')) }}

                        <input type="submit" value="Submit">
                    </form>
                </div>
                {#<div class="columns three">
                    <h3>Address</h3>
                    <a href="{{ entry.address.addressLink }}" target="_blank">{{ entry.address.address|nl2br }}</a><br />
                    <br />
                    <h3>Contact</h3>
                    {{ entry.phone }}<br />
                    <a href="mailto{{ entry.email }}">{{ entry.email }}</a>
                </div>

                <div class="columns three">
                    &nbsp;
                </div>#}

                <div class="columns six midCent">
                    Team
                    <div class="peopleAcordWrap">
                        {% for block in entry.people.all() %}
                        <div class="accordion peopleAcord">
                            <h4>{{ block.personName }}</h4>
                            <div class="peopleContent">
                                <h5>
                                    <a href="mailto:{{ block.personEmail }}">{{ block.personEmail }}</a>
                                </h5>
                                <h5>
                                    <a href="tel:{{ block.personPhone|replace({' ':'','+':'00'}) }}">{{ block.personPhone }}<a/>
                                </h5>
                                <br /><br />
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    {#<h6 class="enquire">Enquire</h6>#}

                </div>
            </div>
        </section>
    </main>

{% endblock %}
