{% extends "_layout" %}
{% set title = "404" %}

{% block content %}

	<main id="content" class="portfolioPage">
		<div class="row">
			<div class="columns twelve">
				<h1>404</h1>
				<h2>Page not found, head <a href="/">home?</a></h2>
			</div>
		</div>
	</main>

{% endblock %}
