{% extends "_soon_layout" %}

{% block content %}

    <main id="content" class="landing" data-midnight="grey">
        <div class="row">
            <div class="columns twelve soon">
                <h1>Construction &amp; Interiors</h1>
                <h2>Coming Soon</h2>
            </div>
        </div>
    </main>

{% endblock %}
