<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	{% do view.registerCssFile("/assets/styles/site.css?v=1.420") %}
	{% do view.registerCssFile("/royalslider/royalslider.css") %}

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,500i" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	{% do view.registerJsFile("/assets/js/main.min.js?v=1.213") %}
	{% do view.registerJsFile("/royalslider/jquery.royalslider.min.js") %}

</head>

<body class="{{ entry.title|lower|replace({'/':''}) }}-page">
	<div id="container">
		<header id="header">
            <nav class="row">
                <div class="columns six logo">
                    <h1><a href="{{ siteUrl }}"><span>{{ siteName }}</span></a></h1>
                </div>
                <div class="columns three midCent">
                    <h2>Auckland &#8212; New Zealand</h2>
                </div>
                <div class="columns three">
					<div id="navIcon">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
                </div>
			</nav>
		</header>

		<div class="fullMenu">
			<nav class="row">
				<div class="columns six logo">
					<h1><a href="{{ siteUrl }}"><span>{{ siteName }}</span></a></h1>
				</div>
				<div class="columns three midCentNav">
					<h2>Auckland &#8212; New Zealand</h2>
				</div>
				<div class="columns three icoWrap">
					<div id="navIconClose"></div>
				</div>
			</nav>

			<nav data-accordion-group class="mainNav row">
				<ul data-accordion class="columns twelve accordion">
					<li><a href="/#aboutUs" id="aboutLink" rel="m_PageScroll2id">About</a></li>
					<li data-control class="subMenu">Services</li>
						{% set entries = craft.entries.section('services') %}
						<ul data-content class="propertyNav">
							{% nav item in entries.all() %}
								<li class="{{ item.slug == entry.slug ? 'active' }}">
									<a href="{{ item.url }}">{{ item.title }}</a>
								</li>
							{% endnav %}
						</ul>
					<li><a href="/partners">Partners</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</div>

		{% block content %}
		{% endblock %}

		{% set contact = craft.entries.section('Contact').one() %}
		<footer id="footer" class="row" data-midnight="grey">
			<div class="columns six">
				<h5>Contact</h5>
                <a href="tel:{{ contact.phone|replace({' ':'','+':'00'}) }}">{{ contact.phone }}</a><br />
                <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
            </div>
			<div class="columns three midCent">
				<h5>Address</h5>
                <a href="{{ contact.address.addressLink }}" target="_blank">{{ contact.address.address|nl2br }}</a><br />
			</div>
            <div class="columns three upArrow">
				<a href="#container" class="top"></a>
            </div>
		</footer>
	</div>
</body>
</html>
