{% extends "_layout" %}

{% block content %}

    <ul class="royalSlider rsDefault brightline">
        {% for block in entry.fullpageImageSlider.all() %}
            {% set images = block.imageSlide %}
            {% if images and images|length %}
                <li>
                    {% for image in images.all() %}
                        <img src="{{ image.getUrl('imageSlider') }}" width="100%" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
                    {% endfor %}
                    <figure class="rsCaption">{{ block.imageTitle }}</figure>
                    <div class="downArrow">
                        <a href="#aboutUs">Scroll</a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <main id="content" data-midnight="grey">

        <section id="aboutUs" class="about">
            <div class="row">
                <div class="columns six">
                    <h3>{{ entry.aboutTitle }}</h3>
                </div>
                <div class="columns six enterPara midCent">
                    {{ entry.aboutParagraph }}
                </div>
            </div>
        </section>

        <section class="overview">

            <h4>Services Overview</h4>

            <ul class="propertyThumb">
            {% for entry in craft.entries.section('services').all() %}
                <a href="{{ entry.url }}">
                    <li>
                        {% set thumb = entry.propertyThumbnail.one() %}
                        <img src="{{ thumb.url('thumbnail') }}" alt="{{ entry.title }}" title="{{ entry.title }}" />
                        <div class="thumbHover">
                            <h5>{{ entry.title }}</h5>
                        </div>
                    </li>
                </a>
            {% endfor %}
            </ul>
        </section>

    </main>

{% endblock %}
