{% extends "_layout" %}

{% block content %}

    <main id="content" data-midnight="grey">

        <section class="overview">

            <h4>Services Overview</h4>

            <ul class="propertyThumb">
            {% for entry in craft.entries.section('services').all() %}
                <a href="{{ entry.url }}">
                    <li>
                        {% set thumb = entry.propertyThumbnail.one() %}
                        <img src="{{ thumb.url('thumbnail') }}" alt="{{ entry.title }}" title="{{ entry.title }}" />
                        <div class="thumbHover">
                            <h5>{{ entry.title }}</h5>
                        </div>
                    </li>
                </a>
            {% endfor %}
            </ul>
        </section>
        
    </main>

{% endblock %}
